* {
  font-family:'Abel', sans-serif !important;
  font-size: 1.05rem;
}

body {
  padding: 0;
}

a {
  color: #800000 !important;
}

a:hover {
  font-weight: bolder;
}

.content {
  margin-top: 20px;
}

.posts-list {
    list-style-type: none;
    padding: 0;
}

.post-list-item {
  margin-bottom: 2rem;
  text-decoration: none;
}

.post-readmore {
  display: none !important;
}

.tormund-gallery {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.tormund-gallery img {
  width: 20%;
  height: auto;
}

footer {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .tormund-gallery img {
    width: 33%;
  }
}
